<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Student</title>
</head>
<body>
<!--    invoking header-->
    <header th:replace="fragments/header :: header"></header>
<!--    simple form - notice the property action, method and th:object-->
    <form action="addPost" method="post" th:object="${student}">
<!--    Student fields - notice the property type and th:field-->
        ID: <input type="number" th:field="*{id}" required/>
        Name: <input type="text" th:field="*{name}" required/>
        Grade: <input type="number" th:field="*{grade}" required/>
<!--    notice the input but of type submit-->
        <input type="submit" value="Add Student">
    </form>
<!--    invoking footer-->
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>